page-home {
  .option {
    background-color: red;
  }

.toolbar-title-md {
      color: white;
      background-color: orange;
    }
 .scroll-content{
  justify-content: center;
	display: flex!important;
 	align-items: center!important;
  display: list-item;
  vertical-align: middle;
  text-align: center;

}
 .button-md{
    text-transform: capitalize;
    text-align: center;
    display: list-item;
    vertical-align: middle;
  }

}
